html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#gifs {
    display: inline-block;
}

section {
    position: relative;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}

h3 {
    color: rgb(240, 229, 229);
}

.button {
    background-color: skyblue;
    cursor: pointer;
    margin-right: 1em;
}

#submit {
    background-color: skyblue;
    cursor: pointer;
}